 body {
	background-image: url('../image/bg.jpg');
	background-repeat:no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: auto;
	padding: 0;
	color: #ffffff;
    margin: 0;
    padding: 0;
}
.currentLink {
 	font-color: #FFFFFF;;
   background-color: #000000;
}
h4{	
	font-family: Event Horizon, Helvetica, sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight:bold;
	text-align: center;
}
#head{
	font-family: Korataki, Event Horizon, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
#slogan { 
	font-family: Korataki, Event Horizon, Helvetica, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
#info {
	font-family: Event Horizon, Helvetica, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight:normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
#detail{
	font-family: Time New Roman, Helvetica, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight:normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
#import{
	font-family: Korataki, Event Horizon, Helvetica, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
img {
	 display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%; 
    height: auto; 
}